/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

h1 {
  text-align: center;
  text-transform: lowercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
  margin-left: 5px;
  margin-right: 5px;
}

h2,
h3,
a {
	color: #1874a3;
}

h2,
h3,
h4 {
	margin-left: 5px;
  margin-right: 5px;
  margin-top: 0;
}

h4 {
	margin-bottom: .4em;
}

a {
	text-decoration: none;
}

a:hover {
	opacity: .75;
}

img {
	max-width: 100%;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.25em;
	margin: 0;
}

.navbar {
	position: absolute; /* Set the navbar to fixed position */
	top: 10px; /* Position the navbar at the top of the page */
	background-color: none;
}

.navbar a {
	text-align: center;
	margin-left: 5px;
	font-size: .95em;
	color: white;
	text-transform: uppercase;
	}

	.navbar a:hover {
		color: #093a58;
	}

  .navbar {
    display: flex;
		flex-direction: column-reverse;
  }

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}

/* .navbar {
  display: none;
} */

.container {
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.primary {
    display: block;
    margin-bottom: 10px;
    text-align: justify;
    margin-left: 1em;
    margin-right: 1em;
  }

.headshot {
  display: none;
  }

.main-footer {
  display: block;
  height: 100px;
  width: 100vw;
  background: #fff;
	padding-top: 25px;
	margin-top: 75px;
  color: darkgrey;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  /* border-top: 1px darkgrey solid; */
}

.footer a {
  color: darkgrey;
  text-decoration: underline;
}

#email {
  display: block;
}

#copyright {
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
}

.content-blocks {
  display: flex;
	flex-direction: column;
	width: 90%
  margin: auto;
  padding-top: 30px;
}

#block1 {
  background-color: #008088;
  margin-left: auto;
  margin-right: auto;
}

#block2 {
  background-color: #a31874;
}

#block3 {
  background-color: #6473a1;
}

#block4 {
  background-color: #4174a7;
}

#block1,
#block2,
#block3,
#block4 {
  /* background-image: url(/Users/ashleerichards/Documents/CodeLouisville/personal-site/img/475x250ph.png); */
	width: 100%;
  background-size: contain;
  height: 200px;
  max-width: 475px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-family: "Montserrat" sans-serif;
  font-size: 2em;
  color: white;
  text-transform: lowercase;
  text-align: center;
  padding-top: 140px;
  border: 2px darkgrey solid;
  opacity: .65;
	border-radius: 5px;
  }



/* =================================
 Hero Styles
==================================== */

.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;

    /* Background styles */
    background: linear-gradient(#1874a3, transparent 98%), linear-gradient(0deg, #fff, transparent), url('../img/Koru.jpg');
    background-size: cover;
    background-position: center left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 2em;

}

.hero h1 {
  color: white;
  font-family: 'Montserrat' sans-serif;
  font-weight: lighter;
  font-stretch: expanded;
  font-size: 3em;
  margin-top: 50%;
  margin-bottom: 25px;
}

.hero h2 {
  font-family: 'Montserrat';
  font-size: 1.25em;
  margin-top: .1em;
  margin-bottom: .5em;
  color: white;
}

.hero .btn {
  display: block;
  width: 150px;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  text: 1em;
  font-family: 'Montserrat';
  color: #1874a3 !important;
  text-transform: none;
  background: #ffffff;
  padding: 10px;
  border: 3px solid #1874a3 !important;
  border-radius: 6px;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 795px) {

  body {
    padding-top: 0;
  }

.navbar {
    display: flex;
		flex-direction: row;
		justify-content: flex-end;
    width: 90%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: darkgrey;
    color: black;
    border-radius: 15px;
}

.main-header {
  position: fixed;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,.4);
  width: 100%;
  top: 0;
  z-index: 1000;
}

.hero {
  position: relative;
}

.hero h1 {
  color: white;
  font-family: 'Montserrat' sans-serif;
  font-weight: lighter;
  font-stretch: expanded;
  font-size: 5em;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  bottom: 200px;
  right: 63px;
}

.hero h2 {
  font-family: 'Montserrat';
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: .5em;
  color: white;
  position: absolute;
  bottom: 165px;
  right: 63px;
}

.hero .btn {
  display: block;
  width: 200px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
  font-size: auto;
  position: absolute;
  bottom: 75px;
  right: 75px;
}

.btn:hover {
    color: #ffffff !important;
    background: #051b26;
    text: white;
    border-top-color: #051b26 !important;
    border-right-color: #051b26 !important;
    border-left-color: darkgrey !important;
    border-bottom-color: darkgrey !important;
    transition: all 0.3s ease 0s;
}

.name {
	float: left;
}

.navbar {
	display: flex;
	flex-direction: row;
	float: right;
}

.navbar li {
	display: flex;
	margin-left: 15px;
}

.tagline {
	font-size: 1.4em;
	}

.container {
  max-width: 1050px;
}

.primary {
    display: block;
    width: 50%;
    float: right;
    margin-left: -10px;
    margin-right: 3em;
    margin-bottom: 20px;
  }

.headshot {
  display: block;
  float: left;
  width: 275px;
  height: 275px;
  overflow: hidden;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 75px;
  border: darkgrey solid 5px;
  }

  .top-content-wrapper {
    display: block;
    margin-bottom: 20px;
  }

  .content-blocks {
    display: flex;
		flex-direction: row;
		flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 1050px;
  }

  #block1,
  #block2,
  #block3,
  #block4 {
    display: inline-block;
    width: 48%;
      }

  #block1 {
    float: left;
  }

  #block2 {
    float: right;
    padding-left: 15px;
  }

  #block3 {
    float: left;
  }

  #block4 {
    float: right;
  }

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}
